<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gościpizza</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header> 
        <h1>
            <a href="/">Gościpizza</a>
        </h1>
    </header>

